body{
    background-color: #f4f4f4;

}
/*navbar*/
.navbar{
    min-height: 33px !important;
    margin-bottom: 0;
    border-radius: 0;;

}
.navbar-nav > li > a, .navbar-brand{
    padding-top: 6px !important;
    padding-bottom: 0 !important;
    height: 33px;
}
.navbar {
  background-color: #1b114a;
}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ecdbff;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-text a {
  color: #ecdbff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ecdbff; 
}
.navbar .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ecdbff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ecdbff;
  background-color: #8e44ad;
}
.navbar .navbar-toggler {
  border-color: #8e44ad;
}
.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:focus {
  background-color: #8e44ad;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #ecdbff;
}
/*Custom*/
.main-color-bg{
    background-color: #1b114a !important;
    border-color: #ecdbff !important;
    color: #ffffff;
}
/*Header*/
.header{
    background-color: black;
    color: #ffffff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.header .dropdown.create{
    padding-top: 20px;
}
/*Breadcrumb*/
.breadcrumb{
    background: #cccccc;
    color: #333333;
}
.breadcrumb a{
    color: #333333;
}